<div>
  <marquee behavior="scroll" direction="left" scrollamount="5" class="scroll-left">
    As per the GOI circular on price capping of Orthopaedic Knee implant by NPPA(National
    Pharmaceutical Pricing Authority), new prices of knee implants have been implemented effective
    16<sup>th</sup> August 2017. For details on knee implant pricing across our hospitals.
    <a href="#" target="_blank" class="cWhite">CLICK HERE</a></marquee>
</div>
<div class="primary-header hidden-xs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-lg-6 col-xs-6 col-sm-2">
        <a href="https://fortisbangalore.com/">
          <img src="/assets/images/web-logo.jpg" class="img-responsive" alt="img"></a>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-3">
        <a href="#" class="light-green">Call Now</a>
      </div>

      <div class="col-md-4 col-lg-4 col-sm-4">
        <a href="https://my.fortishealthcare.com/?city=17109&amp;
                  source_name=Bangalore-Website&amp;campaign_id=7010I000000XT3k" class="green" target="_blank">Book An
          Appointment</a>
      </div>
      <div class="col-md-8 col-lg-6 col-sm-10">
        <div class="row">
          <div class="col-md-5 col-lg-5 col-sm-5">
            <a href="https://healthcheck.fortisbangalore.com/" target="_blank" class="grey">Book A Health Check</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="navbar">
  <ul class='nav nav-tab'>
    <li routerLinkActive="active">
      <a routerLink='home'>Home</a>
    </li>
    <li>
      <a href="#">Centres of excellence</a>
    </li>
    <li>
      <a href="#">Our doctors</a>
    </li>
    <li>
      <a href="#">Health packages</a>
    </li>
    <li>
      <a href="#">Our Locations</a>
    </li>
    <li>
      <a href="#">International patients </a>
    </li>
    <li>
      <a href="#">Resources</a>
    </li>
    <li>
      <a href="#">Contact us</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
