<!-- put sliding image using bootstrap -->
<section class="slider-section">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <a href="patient-and-visitor-services" target="_blank"><img
            src="https://fortisbangalore.com/frontend/bannersliderimage/Patient visitor_banner-1548842029.jpg" alt=""
            class="img-responsive" width="100%;"></a>
      </div>
    </div>
  </div>
</section>
<section>
<div class="primary-header hidden-xs">
  <div class="container-fluid">
    <div class="row">
        <a href="#" class="light-green">Search Doctors</a>
        <a href="#" class="green" target="_blank">Select Speciality</a>
        <a href="#" class="green" target="_blank">Select location</a>
        <a href="#" target="_blank" class="grey">Search</a>
      </div>
    </div>
  </div>
  <div class="information">
    <div class="container">
        <h3>FOR OVER 26 YEARS, WE HAVE COMMITTED TO THE CAUSE OF GETTING PEOPLE BACK TO THEIR LIVES FASTER AND STRONGER</h3>
        <p>Fortis Hospitals Bangalore’s clinical &amp; surgical centres of excellence with great pre and post care facilities ensure that your loved ones get back to the best of their health in no time.</p>
        <div class="main-goal">
            <p> More than 1000 patients are treated everyday </p>
            <p> International Patients Services </p>
            <p> Best In-Class Services</p>
         </div>
    </div>

  </div>
</section>
